
name: Checks

on:
  pull_request:

jobs:
  check-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check versions
        run: ./scripts/version-check.sh

  check-todos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check todos
        run: ./scripts/todo-check.sh
