
name: Checks

on:
  pull_request:

jobs:
  check-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check versions
        run: ./scripts/version-check.sh

  check-todos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check todos
        run: ./scripts/todo-check.sh

  check-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check readme
        run: ./scripts/readme-check.sh

  check-manpage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check manpage
        run: ./scripts/manpage-check.sh
