
name: Test

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '0 1 * * *'

jobs:
  docker-idris:
    strategy:
      matrix:
        version:
          - 0.8.0
          - nightly
    runs-on: ubuntu-latest
    container: mattpolzin2/idris-docker:${{ matrix.version }}

    steps:
      - name: Install Dependencies
        run: apt-get update && apt-get -y install git
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        shell: bash
        run: |
          echo ''
          echo 'Building with Idris 2 version:'
          idris2 --version
          echo ''
          make
      - name: Test
        shell: bash
        run: |
          # The following tests are not run in CI because they
          # are currently only designed to run against a local
          # checkout of the repo:
          # - branch-command
          INTERACTIVE='' except=branch-command make test

